<div class="lg-container">
  <div class="page-bridge" style="background-image: url({{image}});" data-src="https://www.flickr.com/photos/robcoleman/7317288310/in/photolist-c9B1Th-sbZnPw-9nuRRz-hr5HVR-nR3Um8-awHNBS-qJrsq6-eeiYZg-aJLTFg-9rnK62-qtQGpD-abwG6c-hAzuoa-nQbkxQ-agDQXB-qqAXhS-oXRapp-jeNJuu-cgQay7-dSkxoD-bD5keQ-aNQJj2-99DM2B-vH3XGy-9sNvdX-cxrtiy-nGojHG-b3LH1k-g8Wv4M-fkKwzt-fKA7wW-98vkdr-ekTwQU-bnZajE-kxHjdM-dC7YZX-9yd1Nd-pmNE6p-iVrf15-oMLJPG-abT83X-dyiFyv-pkD44P-iqw1ux-e1tkqL-5tDDG5-fHDsVT-mFQwN6-teLTtb-h7Z9ec">
    <div class="container">
      <div class="col-md-4 col-md-offset-8">
        <div class="trans-box">
          <blockquote>"Cool awesome start up quote to go here. It's gotta be shit hot!"</blockquote>
        </div>
      </div>

    </div>

  </div>
</div>
