.blog-post {
  .blog-title {
    * {
      margin-bottom: 25px;
    }

    h1 {
      color: $col-body-hl;
      font-size: 75px;
      font-weight: 800;
      letter-spacing: -2px;
      margin-top: 0;
    }


    p.byline {
      font-size: 18px;
      
    }

    a {
      color: $col-header-hl;
    }
  }


  .blog-content {
    
    * {
      margin-bottom: 25px;
    }

    h4 {
      color: $col-body-inline-title;
      font-style: italic;
      font-size: 24px;
    }

    p {
     font-size: 16px; 
    }
  }


  .blog-navigation {
    margin-top: 35px;
    margin-bottom: 65px;

    .blog-btn {
      color: $col-body-hl;
      text-transform: uppercase;
      padding: 5px 20px 5px 20px;
      font-size: 12px;
    }

    .blog-btn-bordered {
      border-width: 1px;
      border-style: solid;
      border-color: $col-body-hl;
    }
  }
}
