.footer-links {
  .btn-contact-us {
    color: $col-header-hl;
    border-style: solid;
    border-width: 1px;
    border-color: $col-header-hl;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
  }


  .footer-links-lists {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  p,li,a {
    font-size: 10px;
  }

  p.footer-title {
    font-weight: bold;
    color: $col-header-bg;
    margin-bottom: 5px;
  }

  p.smoof {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 10px;
  }

}

.footer-bg {
  margin-top: 60px;
  height: 150px;
  background-color: $col-footer-bg;
}
