.topbox {
  background-color: $col-header-bg;
  height: 485px;
  color: $col-header-fg;
  


  .logo {
    text-transform: uppercase;
    padding-top: 55px;
    text-align: left;
    font-size: 22px;
    font-weight: 800;
  }

  ul.top-nav {
    li {
      text-transform: uppercase; 
      border-top: 5px solid $col-header-bg;
      padding-top: 60px;
      margin-right: 2px;
      font-size: 11px;
      text-align: center;
      min-width: 70px;
      
      a {
        color: $col-header-fg;
        font-weight: bold;      
        padding-left: 5px;
        padding-right: 5px;
      }

    }

    li:hover {
      border-top: 5px solid $col-header-hl; 

      a {
        text-decoration: none;
      }
    }
  }


  .pitch {
    margin-top: 100px;

    h2 {
      font-weight: 900;
      font-size: 48px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    h3 {
      font-style: italic;
      font-size: 28px;
      margin-bottom: 30px;
    }
  }
}
