$col-header-bg: #1d303e;
$col-header-fg: #FFF;
$col-header-hl: #fd1056;
$col-footer-bg: #272727;
$col-body-hl: #ab9c74;
$col-body-text: #6c7a84;
$col-body-title: #223746;

$font-common: "Open Sans", sans-serif;
