$col-header-bg: #1d303e;
$col-header-fg: #FFF;
$col-header-hl: #fd1056;
$col-header-bg-transparent: rgba(27, 44, 56, 0.9);

$col-footer-bg: #272727;
$col-body-hl: #ab9c74;
$col-body-text: #6c7a84;
$col-body-inline-title: #223746;
$col-body-title: #c79d6b;

$font-common: "Open Sans", sans-serif;


.pink {
  color: $col-header-hl;
}
