<div class="topbox">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="logo">
          Smoof<span class="pink">.</span>
        </div>
      </div>
      <div class="col-md-10">
        <ul class="list-inline list-unstyled navbar-right top-nav">
          <li>
            <a href="#">
              The Team
            </a>
          </li>
          <li>
            <a href="#">
              Case Studies
            </a>
          </li>
          <li>
            <a href="#">
              Start-Ups
            </a>
          </li>
          <li>
            <a href="#">
              Big-Guns
            </a>
          </li>
          <li>
            <a href="#">
              Blog
            </a>
          </li>
          <li>
            <a href="#">
              Hire
            </a>
          </li>
           <li>                   
             <a href="#">         
              Contact
             </a>
           </li>



        </ul>
      </div>
    </div>
    <div class="row">
      

    </div>

  </div>

</div>
<div class="container" id="main-content">
  {{outlet}}
</div>
