<div class="blog-post">
  <div class="row">
    <div class="col-md-5">
      <div class="blog-title">
        <h1>GOOD<br /> NEWS<br /> EVERYONE</h1>

        <img src="http://www.placecage.com/c/120/120" height="80" alt="author" class="img-circle" />

        <p class="byline">Written by Tom Starley</p>

        <p class="small">
          Tom loves the sexy content. Hes spelling is awful! <br />
          Some other gumpth. <a href="#">Contact Tom</a>
        </p>



      </div>


    </div>


    <div class="col-md-7">
      
      <div class="blog-content">
        <h4 class='blog-inline-title'>The fresh face, full service, fun creative agency.</h4>

        <p>Buckets of style and big love for true innovation. We are also quite fun. Buckets of style and big love for true innovation. We are also quite fun. Buckets of style and big love for true innovation. We are also quite fun. Buckets of style and big love for true innovation. We are also quite fun. </p>

        <p>Cambridge MR are one of the country's leading market research agencies...and we're looking to bring their website up to date in order to attract new business and increase conversions. They enlisted TKStarley to give the site a complete overhaul - we restructured the sitemap and gave their website a beautiful new look. We loved working with the Cambridge MR team and are looking forward to partering with them on projects in the future!</p>

         <p>Cambridge MR are one of the country's leading market research agencies...and we're looking to bring their website up to date in order to attract new business and increase conversions. They enlisted TKStarley to give the site a complete overhaul - we restructured the sitemap and gave their website a beautiful new look. We loved working with the Cambridge MR team and are looking forward to partering with them on projects in the future!</p>
      </div>

    </div>
    
  </div>

  <div class="row">
    <div class="blog-navigation"> 
      <div class="col-md-2">
        <a class="blog-btn pull-left" href="#">previous</a>
      </div>

      <div class="col-md-2 col-md-offset-8">
        <a class="blog-btn blog-btn-bordered pull-right" href="#">next</a>
      </div>
    </div>
  </div>
</div>
